<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.microsoft.webapptoolkit"
    version="0.0.1">
    <name>WebAppToolkit</name>
    <description>Web Applicaton Toolkit Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,manifest,hosted,web</keywords>
    <repo></repo>

    <dependency id="com-manifoldjs-hostedwebapp" url="https://github.com/manifoldjs/ManifoldCordova#v0.1.0" version=">=0.1.0" />

    <js-module src="www/webAppToolkit.js" name="webapptoolkit">
        <clobbers target="webapptoolkit" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WAT" >
                <param name="android-package" value="com.microsoft.webapptoolkit.WebAppToolkit"/>
                <param name="onload" value="true" />
            </feature>
            <preference name="ShowTitle" value="true"/>
        </config-file>

        <source-file src="src/android/WebAppToolkit.java" target-dir="src/com/microsoft/webapptoolkit" />

        <source-file src="src/android/model/Manifest.java" target-dir="src/com/microsoft/webapptoolkit/model" />
        <source-file src="src/android/model/ShareConfig.java" target-dir="src/com/microsoft/webapptoolkit/model" />
        <source-file src="src/android/model/CustomScriptConfig.java" target-dir="src/com/microsoft/webapptoolkit/model" />
        <source-file src="src/android/model/StylesConfig.java" target-dir="src/com/microsoft/webapptoolkit/model" />
        <source-file src="src/android/model/MenuItem.java" target-dir="src/com/microsoft/webapptoolkit/model" />
        <source-file src="src/android/model/NavBarConfig.java" target-dir="src/com/microsoft/webapptoolkit/model" />
        <source-file src="src/android/model/AppBarConfig.java" target-dir="src/com/microsoft/webapptoolkit/model" />

        <source-file src="src/android/utils/Assets.java" target-dir="src/com/microsoft/webapptoolkit/utils" />
        <source-file src="src/android/utils/NavDrawerListAdapter.java" target-dir="src/com/microsoft/webapptoolkit/utils" />
        <source-file src="src/android/utils/ResourceHelper.java" target-dir="src/com/microsoft/webapptoolkit/utils" />

        <source-file src="libs/android/android-support-v4.jar" target-dir="libs/" />


        <!-- icons for drawer -->
        <source-file src="assets/android/drawable/mdpi/ic_drawer.png" target-dir="res/drawable-mdpi/" />
        <source-file src="assets/android/drawable/mdpi/drawer_shadow.9.png" target-dir="res/drawable-mdpi/" />
        <source-file src="assets/android/drawable/hdpi/ic_drawer.png" target-dir="res/drawable-hdpi/" />
        <source-file src="assets/android/drawable/hdpi/drawer_shadow.9.png" target-dir="res/drawable-hdpi/" />
        <source-file src="assets/android/drawable/xhdpi/ic_drawer.png" target-dir="res/drawable-xhdpi/" />
        <source-file src="assets/android/drawable/xhdpi/drawer_shadow.9.png" target-dir="res/drawable-xhdpi/" />
        <source-file src="assets/android/drawable/xxhdpi/ic_drawer.png" target-dir="res/drawable-xxhdpi/" />
        <source-file src="assets/android/drawable/xxhdpi/drawer_shadow.9.png" target-dir="res/drawable-xxhdpi/" />


        <source-file src="assets/android/drawable/layout/drawer_list_item.xml" target-dir="res/layout/" />

        <source-file src="assets/android/drawable/list_item_selector.xml" target-dir="res/drawable/" />
        <!-- end of icons for drawer -->
    </platform>

    <!-- windows -->
    <platform name="windows">
      <hook type="before_prepare" src="scripts/moveWindowsAssets.js" />
      <js-module src="src/windows/WebAppToolkitPluginProxy.js" name="WebAppToolkitPluginProxy">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATWrapperHtml.js" name="WATWrapperHtml">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATShare.js" name="WATShare">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATNav.js" name="WATNavigation">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATAppBar.js" name="WATAppBar">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATStyles.js" name="WATStyles">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATCustomScript.js" name="WATCustomScript">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATNavBar.js" name="WATNavBar">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATHeader.js" name="WATHeader">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATSettings.js" name="WATSettings">
        <merges target="" />
      </js-module>
    </platform>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="WebAppToolkit">
        <param name="ios-package" value="CDVWebAppToolkit"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/CDVWebAppToolkit.h" />
    <source-file src="src/ios/CDVWebAppToolkit.m" />

    <header-file src="src/ios/Model/WATManifest.h" />
    <source-file src="src/ios/Model/WATManifest.m" />

    <header-file src="src/ios/Model/WATShareConfig.h" />
    <source-file src="src/ios/Model/WATShareConfig.m" />

    <header-file src="src/ios/Model/WATScriptInjection.h" />
    <source-file src="src/ios/Model/WATScriptInjection.m" />

    <header-file src="src/ios/Model/WATStyleInjection.h" />
    <source-file src="src/ios/Model/WATStyleInjection.m" />

  </platform>

</plugin>
