<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-webapptoolkit"
    version="0.0.2">
    <name>WebAppToolkit</name>
    <description>Web Applicaton Toolkit Plugin</description>
    <license>MIT License</license>
    <keywords>cordova,manifest,hosted,web</keywords>
    <repo></repo>

    <dependency id="cordova-plugin-hostedwebapp" version=">=0.1.0" />

    <hook type="after_build" src="scripts/moveWindowsAssets.js" />

    <js-module src="www/webAppToolkit.js" name="webapptoolkit">
        <clobbers target="webapptoolkit" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WAT" >
                <param name="android-package" value="com.microsoft.webapptoolkit.WebAppToolkit"/>
                <param name="onload" value="true" />
            </feature>
            <preference name="ShowTitle" value="true"/>
        </config-file>

        <source-file src="src/android/WebAppToolkit.java" target-dir="src/com/microsoft/webapptoolkit" />
        <source-file src="src/android/Constants.java" target-dir="src/com/microsoft/webapptoolkit/" />
        <source-file src="src/android/ModalActivity.java" target-dir="src/com/microsoft/webapptoolkit/" />
        <source-file src="src/android/ModalWebViewClient.java" target-dir="src/com/microsoft/webapptoolkit/" />

        <source-file src="src/android/model/Manifest.java" target-dir="src/com/microsoft/webapptoolkit/model" />

        <source-file src="src/android/config/CustomScriptConfig.java" target-dir="src/com/microsoft/webapptoolkit/config" />
        <source-file src="src/android/config/StylesConfig.java" target-dir="src/com/microsoft/webapptoolkit/config" />
        <source-file src="src/android/config/RedirectsConfig.java" target-dir="src/com/microsoft/webapptoolkit/config" />
        <source-file src="src/android/config/RedirectRulesConfig.java" target-dir="src/com/microsoft/webapptoolkit/config" />

        <source-file src="src/android/utils/Assets.java" target-dir="src/com/microsoft/webapptoolkit/utils" />
        <source-file src="src/android/utils/ResourceHelper.java" target-dir="src/com/microsoft/webapptoolkit/utils" />

        <source-file src="src/android/modules/IModule.java" target-dir="src/com/microsoft/webapptoolkit/modules" />
        <source-file src="src/android/modules/InjectionModule.java" target-dir="src/com/microsoft/webapptoolkit/modules" />
        <source-file src="src/android/modules/RedirectsModule.java" target-dir="src/com/microsoft/webapptoolkit/modules" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.microsoft.webapptoolkit.ModalActivity" />
        </config-file>
    </platform>

    <!-- windows -->
    <platform name="windows">
      <js-module src="src/windows/WebAppToolkitPluginProxy.js" name="WebAppToolkitPluginProxy">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATWrapperHtml.js" name="WATWrapperHtml">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATShare.js" name="WATShare">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATNav.js" name="WATNavigation">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATAppBar.js" name="WATAppBar">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATStyles.js" name="WATStyles">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATCustomScript.js" name="WATCustomScript">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATNavBar.js" name="WATNavBar">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATHeader.js" name="WATHeader">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATLiveTiles.js" name="WATLiveTiles">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATSettings.js" name="WATSettings">
        <merges target="" />
      </js-module>
      <js-module src="src/windows/WATSecondaryPins.js" name="WATSecondaryPins">
        <merges target="" />
      </js-module>
    </platform>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="WebAppToolkit">
        <param name="ios-package" value="CDVWebAppToolkit"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/CDVWebAppToolkit.h" />
    <source-file src="src/ios/CDVWebAppToolkit.m" />

    <header-file src="src/ios/Model/WATManifest.h" />
    <source-file src="src/ios/Model/WATManifest.m" />

    <header-file src="src/ios/Model/Alert.h" />
    <source-file src="src/ios/Model/Alert.m" />

    <header-file src="src/ios/Model/PopupViewController.h" />
    <source-file src="src/ios/Model/PopupViewController.m" />

    <header-file src="src/ios/Modules/WATModule.h" />
    <source-file src="src/ios/Modules/WATModule.m" />

    <header-file src="src/ios/Modules/WATInjectionModule.h" />
    <source-file src="src/ios/Modules/WATInjectionModule.m" />

    <header-file src="src/ios/Modules/WATRedirectsModule.h" />
    <source-file src="src/ios/Modules/WATRedirectsModule.m" />

    <header-file src="src/ios/Modules/WATNavigationModule.h" />
    <source-file src="src/ios/Modules/WATNavigationModule.m" />
    
    <header-file src="src/ios/Config/WATScriptInjection.h" />
    <source-file src="src/ios/Config/WATScriptInjection.m" />

    <header-file src="src/ios/Config/WATStyleInjection.h" />
    <source-file src="src/ios/Config/WATStyleInjection.m" />

    <header-file src="src/ios/Config/WATRedirectRulesConfig.h" />
    <source-file src="src/ios/Config/WATRedirectRulesConfig.m" />

    <header-file src="src/ios/Config/WATRedirectsConfig.h" />
    <source-file src="src/ios/Config/WATRedirectsConfig.m" />
    
    <header-file src="src/ios/Config/WATNavigationConfig.h" />
    <source-file src="src/ios/Config/WATNavigationConfig.m" />
    
    <resource-file src="assets/ios/back_arrow.png"/>
  </platform>

</plugin>
