
    .content .header{
        /* Define a grid with columns for the back button and page title. */
        -ms-grid-columns: 37px 83px 1fr 300px;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .content .header .hamburger {
            width: 80px;
            height: 100%;
            opacity: 0.8;
            background-image: url(/images/ham.svg);
            background-position: center center;
            background-size: 40%;
            background-repeat: no-repeat;
        }

        .content .header .hamburger:hover {
            background-color: #375569;
        }

        .content .header #backbutton-wrapper {
            -ms-grid-column: 2;
            margin-top: 57px;
            position: relative;
            z-index: 1;
        }

        .content .header .logoarea {
            -ms-grid-column: 3;
            -ms-grid-column-align: center;
        }

        .content .header .logoarea #logo {
            height: 50px !important;
        }

        .content .header .titlearea {
            -ms-grid-column: 3;
            -ms-grid-column-align: center;
            -ms-text-overflow: ellipsis;
            text-align: center;
            width: 300px;
        }

        .content .header .search-box {
            -ms-grid-column: 4;
            margin-top:57px;
            margin-right:100px;
        }

    .content .stage {
        -ms-grid-row: 2;
        height: 100%;
        width: 100%;
    }


/* 720P */
@media only screen and (orientation: portrait) and (min-width: 402px) and (max-width: 449px),
       only screen and (orientation: landscape) and (min-width: 715px) and (max-width: 799px)
 {
    #main-view {
        -ms-zoom: 50%;
        width: 200% !important;
        height: 200% !important;
    }

    .webview-overlay {
        -ms-zoom: 113%;
    }
}

/* 1080P */
@media only screen and (orientation: portrait) and (min-width: 449px),
       only screen and (orientation: landscape) and (min-width: 799px)
 {
    #main-view {
        -ms-zoom: 40%;
        width: 250% !important;
        height: 250% !important;
    }

    .webview-overlay {
        -ms-zoom: 104%;
    }
}

@media (orientation: portrait) and (max-height: 853px) {

            .content .header .logoarea {
                margin-top: 10px !important;
            }
}

@media (orientation: landscape) and (max-height: 853px) {

    .content {
        -ms-grid-rows: 64px 1fr !important;
    }

        .content .header{
            -ms-grid-columns: 0px 37px 1fr 0px !important;
        }

            .content .header .logoarea {
                margin-top: 10px !important;
            }

            .content .header .titlearea {
                margin-top: 20px !important;
                width: 500px;
            }

            .content .header h1 {
                font-size: 20px !important;
            }
}
